<!DOCTYPE html>
<html>
  <head>
    <title>Campus Swap</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Campus Swap</h1>
    <p>Esta es la página de inicio de <%= title %></p>
  </body>
</html>