<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/slidebar.css"> 
    <link rel="stylesheet" href="/stylesheets/perfil.css"> 
    <title>Perfil - Campus Swap</title>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="perfil">
            <img src="../images/perfil.jpg" alt="Foto de perfil" class="profile-img">
            <!--usuarios-->
            <h2>Usuario</h2>
            <p>★★★★</p>
            <p>Año</p>
        </div>
        <nav>
            <ul>
                <li><a href="/perfil">Productos</a></li>
                <li><a href="/buzon">Buzón</a></li>
                <li><a href="/favoritos">Favoritos</a></li>
                <li><a href="/valoraciones">Valoraciones</a></li>
            </ul>
        </nav>
        <div class="settings">
            <img src="../images/settings-icon.svg" alt="Configuración">
        </div>
    </div>



    <div class="main-content">
        <header>
            <input type="text" placeholder="Buscar productos..." class="barra-busqueda">
            <a href="/listado" class="seguir-comprando-boton">
                <img src="../images/Campus.png" alt="Seguir Comprando" class="logo-campus-swap">
            </a>
        </header>

        <section class="seccion-productos h2">
            <h2>Tus productos</h2>
            <div class="pestañas-productos">
                <button class="venta-vendidos-boton">En venta</button>
                <button class="venta-vendidos-boton">Vendidos</button>
            </div>
            <div class="product-list">



                <div class="product-item"></div>
                    <div class="product">
                        <img src="../images/libro-EJEMPLO.jpg" alt="Libro Rocco">
                        <div class="product-info">
                            <h3>Libro Rocco</h3>
                            <p>Libros es la colección de libros sobre arte y cultura urbana.
                            <br>Precio: 35 euros</p>
                        </div>
                    </div>
                

                <div class="product-item">
                    <div class="product">
                        <img src="../images/calculadora-ejemplo.jpg" alt="Calculadora Casio">
                        <div class="product-info">
                                <h3>Calculadora Casio</h3>
                                <p>Calculadora casio, como nueva.
                                <br>Precio: 35 euros</p>
                            </div>
                    </div>
                </div>
          



                



            <div class="botones">
                
                <button class="borrar-producto-boton">
                    <img src="../images/eliminar.png" alt="Borrar Producto" class="icon">
                    <span>Descartar</span>
                </button>

                <a href="/nuevaPublicacion" class="nuevo-anuncio-boton">
                    <img src="../images/añadir.png" alt="Nuevo Anuncio" class="icon">
                    <span>Añadir Producto</span>
                </a>
            </div>
        </section>
    </div>
</div>

</body>
</html>
