
.botones {
    display: flex;
    justify-content: space-between; 
    margin-top: 30px;
    padding: 0 20px;
}

.borrar-producto-boton, .nuevo-anuncio-boton, .seguir-comprando-boton {
    display: flex;
    align-items: center;
    gap: 10px; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px; 
    
}

.icon {
    width: 40px; 
    height: 40px;
}

.product {
    position: relative;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.delete-button .delete-icon {
    width: 20px;  /* Ajusta este valor según el tamaño que desees */
    height: 20px; /* Ajusta este valor según el tamaño que desees */
}

.delete-button:hover {
    opacity: 0.7;
}
.seguir-comprando-boton {
    float: right;
    margin: 20px;
}






.venta-vendidos-boton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.seccion-productos h2 {
    margin-top: 45px;
    margin-bottom: 15px; 
}

.pestañas-productos {
    margin-bottom: 20px;
}


.product-list {
    width: 100%;
    padding: 20px;
    background-color: white;
    height: 400px;  
    overflow-y: auto;  
    border: 1px solid #ddd;  
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
    border-radius: 8px;  
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f4f4;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product img {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.product-info {
    flex-grow: 1;
}