html{
	background: linear-gradient(#0095DB, #005075);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.RecuadroPrincipal{
	background-color: white;
	width: 430px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	border-radius: 20px;
	padding: 10px;
}

.logo-img{
	width: 220px;
	height: 150px;
	margin-bottom: 30px;
}

.Registro{
	background-color: #00C2CB;
	color: white;
	padding: 10px 80px;
	border: none;
	border-radius: 15px;
	font-size: 19px;
	text-align: center;
	justify-content: center;
	margin-bottom: 20px;
	font-family: "Arial", sans-serif;
}

.IniciarSesion{
	background-color: #00C2CB;
	color: white;
	padding: 10px 66px;
	border: none;
	border-radius: 15px;
	font-size: 19px;
	text-align: center;
	justify-content: center;
	margin-bottom: 30px;
	font-family: "Arial", sans-serif;
}

.RecuadroPrincipalRegistro{
	background-color: white;
	width: 430px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	text-align: center;
	border-radius: 20px;
	padding: 10px;
}

.titulo{
	font-size: 19px;
	font-family: "Arial", sans-serif;
	margin-bottom: 8px;
}

.logo-img-registro{
	width: 150px;
	height: 110px;
	margin-top: 40px;
	margin-bottom: 5px;
}

.container{
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.input-register{
	width: 100%;
	max-width: 400px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.input-register input{
	width: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 30px;
	font-size: 18px;
	text-align: left;
	font-family: "Arial", sans-serif;
}

.botonCrearCuenta{
	width: 100%;
	max-width: 400px;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

#registerbutton{
	background-color: #00C2CB;
	color: white;
	border: none;
	border-radius: 15px;
	padding: 10px 80px;
	font-size: 18px;
	text-align: center;
	font-family: "Arial", sans-serif;
}

#registerbutton:hover{
	background-color: #009aa3;
}

.RecuadroPrincipalLogIn{
	background-color: white;
	width: 430px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	text-align: center;
	border-radius: 20px;
	padding: 10px;
}

.logo-img-login{
	width: 180px;
	height: 130px;
	margin-top: 70px;
	margin-bottom: 15px;
}

.input-login{
	width: 100%;
	max-width: 400px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.input-login input{
	width: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 30px;
	font-size: 18px;
	text-align: left;
	font-family: "Arial", sans-serif;
}

.olvidado{
	font-size: 18px;
	font-family: "Arial", sans-serif;
	margin-top: 15px;
	margin-bottom: 15px;
}

.tituloLogIn{
	font-size: 19px;
	font-family: "Arial", sans-serif;
	margin-bottom: 15px;
}

.botonAcceder{
	width: 100%;
	max-width: 400px;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

#logInbutton{
	background-color: #02cad5;
	color: white;
	border: none;
	border-radius: 15px;
	padding: 10px 70px;
	font-size: 18px;
	text-align: center;
	font-family: "Arial", sans-serif;
}

#logInbutton:hover{
	background-color: #009aa3;
}